<table class="table table-hover table-rwd">
    <thead>
        <tr>
            <th class="col-sm-1">#</th>
            <th class="col-sm-3">Country</th>
            <th class="col-sm-3">Operator</th>
            <th class="col-sm-5">Band</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td data-th="編號"><span class="td-col">1</span></td>
            <td data-th="Country"><span class="td-col">台灣</span></td>
            <td data-th="Operator"><span class="td-col">中華電信</span></td>
            <td data-th="Band"><span class="td-col">3, 7, 8</span></td>
        </tr>
        <tr>
            <td data-th="編號"><span class="td-col">2</span></td>
            <td data-th="Country"><span class="td-col">台灣</span></td>
            <td data-th="Operator"><span class="td-col">台灣大哥大</span></td>
            <td data-th="Band"><span class="td-col">3, 28</span></td>
        </tr>
        <tr>
            <td data-th="編號"><span class="td-col">3</span></td>
            <td data-th="Country"><span class="td-col">台灣</span></td>
            <td data-th="Operator"><span class="td-col">遠傳電信</span></td>
            <td data-th="Band"><span class="td-col">3, 7, 28</span></td>
        </tr>
        <tr>
            <td data-th="編號"><span class="td-col">4</span></td>
            <td data-th="Country"><span class="td-col">台灣</span></td>
            <td data-th="Operator"><span class="td-col">亞太 GT</span></td>
            <td data-th="Band"><span class="td-col">3, 28</span></td>
        </tr>
        <tr>
            <td data-th="編號"><span class="td-col">5</span></td>
            <td data-th="Country"><span class="td-col">台灣</span></td>
            <td data-th="Operator"><span class="td-col">台灣之星</span></td>
            <td data-th="Band"><span class="td-col">7, 8</span></td>
        </tr>
    </tbody>
</table>