<div class="modal fade" id="modal-id">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Query Selection</h4>
            </div>
            <div class="modal-body">
                <div role="tabpanel">
                    <!-- 標籤面板：標籤區 -->
                    <ul class="nav nav-tabs" role="tablist">
                        <li role="presentation" class="active">
                            <a href="#tab1" aria-controls="tab1" role="tab" data-toggle="tab">Band</a>
                        </li>
                        <li role="presentation">
                            <a href="#tab2" aria-controls="tab2" role="tab" data-toggle="tab">Country</a>
                        </li>
                    </ul>
                    <!-- 標籤面板：內容區 -->
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane list-group active" id="tab1">
                            <div class="checkbox list-group-item">
                                <label>
                                    <input type="checkbox" name="">Band 1
                                </label>
                            </div>
                            <div class="checkbox list-group-item">
                                <label>
                                    <input type="checkbox" name="">Band 2
                                </label>
                            </div>
                            <div class="checkbox list-group-item">
                                <label>
                                    <input type="checkbox" name="">Band 3
                                </label>
                            </div>
                            <div class="checkbox list-group-item">
                                <label>
                                    <input type="checkbox" name="">Band 4
                                </label>
                            </div>
                            <div class="checkbox list-group-item">
                                <label>
                                    <input type="checkbox" name="">Band 5
                                </label>
                            </div>
                            <div class="checkbox list-group-item">
                                <label>
                                    <input type="checkbox" name="">Band 6
                                </label>
                            </div>
                            <div class="checkbox list-group-item">
                                <label>
                                    <input type="checkbox" name="">Band 7
                                </label>
                            </div>
                            <div class="checkbox list-group-item">
                                <label>
                                    <input type="checkbox" name="">Band 8
                                </label>
                            </div>
                            <div class="checkbox list-group-item">
                                <label>
                                    <input type="checkbox" name="">Band 9
                                </label>
                            </div>
                            <div class="checkbox list-group-item">
                                <label>
                                    <input type="checkbox" name="">Band 10
                                </label>
                            </div>
                            <div class="checkbox list-group-item">
                                <label>
                                    <input type="checkbox" name="">Band 11
                                </label>
                            </div>
                            <div class="checkbox list-group-item">
                                <label>
                                    <input type="checkbox" name="">Band 12
                                </label>
                            </div>
                            <div class="checkbox list-group-item">
                                <label>
                                    <input type="checkbox" name="">Band 13
                                </label>
                            </div>
                            <div class="checkbox list-group-item">
                                <label>
                                    <input type="checkbox" name="">Band 14
                                </label>
                            </div>
                            <div class="checkbox list-group-item">
                                <label>
                                    <input type="checkbox" name="">Band 15
                                </label>
                            </div>
                            <div class="checkbox list-group-item">
                                <label>
                                    <input type="checkbox" name="">Band 16
                                </label>
                            </div>
                            <div class="checkbox list-group-item">
                                <label>
                                    <input type="checkbox" name="">Band 17
                                </label>
                            </div>
                            <div class="checkbox list-group-item">
                                <label>
                                    <input type="checkbox" name="">Band 18
                                </label>
                            </div>
                            <div class="checkbox list-group-item">
                                <label>
                                    <input type="checkbox" name="">Band 19
                                </label>
                            </div>
                            <div class="checkbox list-group-item">
                                <label>
                                    <input type="checkbox" name="">Band 21
                                </label>
                            </div>
                            <div class="checkbox list-group-item">
                                <label>
                                    <input type="checkbox" name="">Band 22
                                </label>
                            </div>
                            <div class="checkbox list-group-item">
                                <label>
                                    <input type="checkbox" name="">Band 23
                                </label>
                            </div>
                            <div class="checkbox list-group-item">
                                <label>
                                    <input type="checkbox" name="">Band 24
                                </label>
                            </div>
                            <div class="checkbox list-group-item">
                                <label>
                                    <input type="checkbox" name="">Band 25
                                </label>
                            </div>
                            <div class="checkbox list-group-item">
                                <label>
                                    <input type="checkbox" name="">Band 26
                                </label>
                            </div>
                            <div class="checkbox list-group-item">
                                <label>
                                    <input type="checkbox" name="">Band 27
                                </label>
                            </div>
                            <div class="checkbox list-group-item">
                                <label>
                                    <input type="checkbox" name="">Band 28
                                </label>
                            </div>
                            <div class="checkbox list-group-item">
                                <label>
                                    <input type="checkbox" name="">Band 29
                                </label>
                            </div>
                            <div class="checkbox list-group-item">
                                <label>
                                    <input type="checkbox" name="">Band 30
                                </label>
                            </div>
                            <div class="checkbox list-group-item">
                                <label>
                                    <input type="checkbox" name="">Band 31
                                </label>
                            </div>
                            <div class="checkbox list-group-item">
                                <label>
                                    <input type="checkbox" name="">Band 32
                                </label>
                            </div>
                            <div class="checkbox list-group-item">
                                <label>
                                    <input type="checkbox" name="">Band 33
                                </label>
                            </div>
                            <div class="checkbox list-group-item">
                                <label>
                                    <input type="checkbox" name="">Band 34
                                </label>
                            </div>
                            <div class="checkbox list-group-item">
                                <label>
                                    <input type="checkbox" name="">Band 35
                                </label>
                            </div>
                            <div class="checkbox list-group-item">
                                <label>
                                    <input type="checkbox" name="">Band 36
                                </label>
                            </div>
                            <div class="checkbox list-group-item">
                                <label>
                                    <input type="checkbox" name="">Band 37
                                </label>
                            </div>
                            <div class="checkbox list-group-item">
                                <label>
                                    <input type="checkbox" name="">Band 38
                                </label>
                            </div>
                            <div class="checkbox list-group-item">
                                <label>
                                    <input type="checkbox" name="">Band 39
                                </label>
                            </div>
                            <div class="checkbox list-group-item">
                                <label>
                                    <input type="checkbox" name="">Band 40
                                </label>
                            </div>
                            <div class="checkbox list-group-item">
                                <label>
                                    <input type="checkbox" name="">Band 41
                                </label>
                            </div>
                            <div class="checkbox list-group-item">
                                <label>
                                    <input type="checkbox" name="">Band 42
                                </label>
                            </div>
                            <div class="checkbox list-group-item">
                                <label>
                                    <input type="checkbox" name="">Band 43
                                </label>
                            </div>
                            <div class="checkbox list-group-item">
                                <label>
                                    <input type="checkbox" name="">Band 44
                                </label>
                            </div>
                            <div class="checkbox list-group-item">
                                <label>
                                    <input type="checkbox" name="">Band 45
                                </label>
                            </div>
                            <div class="checkbox list-group-item">
                                <label>
                                    <input type="checkbox" name="">Band 46
                                </label>
                            </div>
                            <div class="checkbox list-group-item">
                                <label>
                                    <input type="checkbox" name="">Band 47
                                </label>
                            </div>
                            <div class="checkbox list-group-item">
                                <label>
                                    <input type="checkbox" name="">Band 48
                                </label>
                            </div>
                            <div class="checkbox list-group-item">
                                <label>
                                    <input type="checkbox" name="">Band 49
                                </label>
                            </div>
                            <div class="checkbox list-group-item">
                                <label>
                                    <input type="checkbox" name="">Band 50
                                </label>
                            </div>
                            <div class="checkbox list-group-item">
                                <label>
                                    <input type="checkbox" name="">Band 51
                                </label>
                            </div>
                        </div>
                        <div role="tabpanel" class="tab-pane list-group " id="tab2">
                            <div class="checkbox list-group-item">
                                <label>
                                    <input type="checkbox" name="">Algeria
                                </label>
                            </div>
                            <div class="checkbox list-group-item">
                                <label>
                                    <input type="checkbox" name="">Angola
                                </label>
                            </div>
                            <div class="checkbox list-group-item">
                                <label>
                                    <input type="checkbox" name="">Ascension Island
                                </label>
                            </div>
                            <div class="checkbox list-group-item">
                                <label>
                                    <input type="checkbox" name="">Benin
                                </label>
                            </div>
                            <div class="checkbox list-group-item">
                                <label>
                                    <input type="checkbox" name="">Botsqana
                                </label>
                            </div>
                            <div class="checkbox list-group-item">
                                <label>
                                    <input type="checkbox" name="">Burundi
                                </label>
                            </div>
                            <div class="checkbox list-group-item">
                                <label>
                                    <input type="checkbox" name="">Cameroon
                                </label>
                            </div>
                            <div class="checkbox list-group-item">
                                <label>
                                    <input type="checkbox" name="">Chad
                                </label>
                            </div>
                            <div class="checkbox list-group-item">
                                <label>
                                    <input type="checkbox" name="">Comoros
                                </label>
                            </div>
                            <div class="checkbox list-group-item">
                                <label>
                                    <input type="checkbox" name="">Congo
                                </label>
                            </div>
                            <div class="checkbox list-group-item">
                                <label>
                                    <input type="checkbox" name="">Egypt
                                </label>
                            </div>
                            <div class="checkbox list-group-item">
                                <label>
                                    <input type="checkbox" name="">Ethiopia
                                </label>
                            </div>
                            <div class="checkbox list-group-item">
                                <label>
                                    <input type="checkbox" name="">Gabon
                                </label>
                            </div>
                            <div class="checkbox list-group-item">
                                <label>
                                    <input type="checkbox" name="">Gambia
                                </label>
                            </div>
                            <div class="checkbox list-group-item">
                                <label>
                                    <input type="checkbox" name="">Ghana
                                </label>
                            </div>
                            <div class="checkbox list-group-item">
                                <label>
                                    <input type="checkbox" name="">Guinea Bissau
                                </label>
                            </div>
                            <div class="checkbox list-group-item">
                                <label>
                                    <input type="checkbox" name="">Ivory Coast
                                </label>
                            </div>
                            <div class="checkbox list-group-item">
                                <label>
                                    <input type="checkbox" name="">Kenya
                                </label>
                            </div>
                            <div class="checkbox list-group-item">
                                <label>
                                    <input type="checkbox" name="">Lesotho
                                </label>
                            </div>
                            <div class="checkbox list-group-item">
                                <label>
                                    <input type="checkbox" name="">Liberia
                                </label>
                            </div>
                            <div class="checkbox list-group-item">
                                <label>
                                    <input type="checkbox" name="">Libya
                                </label>
                            </div>
                            <div class="checkbox list-group-item">
                                <label>
                                    <input type="checkbox" name="">Madagascar
                                </label>
                            </div>
                            <div class="checkbox list-group-item">
                                <label>
                                    <input type="checkbox" name="">Malawi
                                </label>
                            </div>
                            <div class="checkbox list-group-item">
                                <label>
                                    <input type="checkbox" name="">Mauritius
                                </label>
                            </div>
                            <div class="checkbox list-group-item">
                                <label>
                                    <input type="checkbox" name="">Morocco
                                </label>
                            </div>
                            <div class="checkbox list-group-item">
                                <label>
                                    <input type="checkbox" name="">Namibia
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-default">Reset</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal">Search</button>
            </div>
        </div>
    </div>
</div>